{% extends 'base.html.twig' %}

{% block title %}Vos réservations{% endblock %}

{% block body %}
<div class="container">
    <h2>Mes réservations</h2>
    <div class="alert alert-info mt-3 mb-3">
        <p>Retrouvez ci-dessous toutes vos réservations</p>
    </div>

    {% for booking in app.user.bookings %}
    {% set ad = booking.ad %}
        <div class="row mb-4">
            <div class="col-4 pt-2 pb-2">
                <img src="{{ad.coverImage}}" alt="Photo de l'annonce {{ad.title}}" class="img-fluid">
            </div>
            <div class="col-8">
                <h4>{{ad.title}}</h4>
                <p>Réservation <strong>n°{{booking.id}}</strong><br>
                Du {{booking.startDate|date('d.m.Y')}} au {{booking.endDate|date('d.m.Y')}} ({{booking.amount}} CHF)
                </p>
                <a href="{{ path('booking_show', {'id': booking.id}) }}" class="btn btn-outline-primary">Revoir la page de l'annonce</a>
            </div>
        </div>
    {% endfor %}

</div>
{% endblock %}