{% extends 'base.html.twig' %}

{% block title %}Inscription{% endblock %}

{% block body %}
<div class="container">
    <h1 class="my-5">S'inscrire sur SymBNB</h1>
    {{form_start(form)}}
    <div class="row">
        <div class="col">
            <div class="alert alert-light p-4">
                <h3 class="alert-heading">Informations générales</h3>
                <hr>
                {{form_row(form.firstName)}}
                {{form_row(form.lastName)}}
                {{form_row(form.email)}}
                {{form_row(form.picture)}}
            </div>
        </div>
        <div class="col">
            <div class="alert alert-light p-4">
                <h3 class="alert-heading">Détails</h3>
                <hr>
                {{form_row(form.introduction)}}
                {{form_row(form.description)}}
            </div>
        </div>
    </div>
    <div class="alert alert-light">
        <h3 class="alert-heading">Définir un mot de passe</h3>
        <div class="row">
            <div class="col">{{form_row(form.hash)}}</div>
            <div class="col">{{form_row(form.passwordConfirm)}}</div>
        </div>
    </div>
    <button type="submit" class="btn btn-primary mt-3"><i class="fas fa-check mr-1"></i> Confirmez l'inscription</button>
    {{form_end(form)}}
</div>
{% endblock %}
