
    {% set url = path('ads_show', {'slug': ad.slug}) %}
    <div class="col-md-4">
        <div class="card bg-light mb-3">
            <div class="card-header text-center">
                {{ ad.rooms }} Chambres, <strong>{{ ad.price | number_format(2, ',', ' ') }} CHF / nuit</strong><br>
                <small>
                    {% if ad.comments|length > 0 %}
                    {% set rating = ad.comments|length  %}
                    {% include "partials/rating.html.twig" with {'rating': ad.avgRatings} %}
                        ({{ad.comments|length}} avis)
                    {% else %}
                        Pas encore noté
                    {% endif %}
                </small>
            </div>
            <a href="{{ url }}">
                <img src="{{ ad.coverImage }}" alt="Image de l'appartement" style="height: 200px; width:100%; display:block;">
            </a>
            <div class="card-body">
                <a href="{{ url }}">
                    <h4 class="card-title">
                        {{ ad.title }}
                    </h4>
                </a>
                <p class="card-texte">
                    {{ ad.introduction }}
                </p>
                <a href="{{ path('ad_like', {'slug': ad.slug }) }}" class="btn btn-link float-left js-like-{{ad.slug}}">
                {% if app.user and ad.isLikedByUser(app.user) %}
                    <i class="fas fa-thumbs-up"></i>
                {% else %}
                    <i class="far fa-thumbs-up"></i>
                {% endif %}
                    <span class="js-likes">{{ad.likes | length }}</span>
                    <span class="js-label">J'aime</span>
                </a>
                <a href="{{ url }}" class="btn btn-secondary float-right">En savoir plus</a>
            </div>
        </div>
    </div>

{% block javascripts %}
    <script src="https://cdn.jsdelivr.net/npm/axios/dist/axios.min.js"></script>

    <script>

        function onClickBtnLike(event){
            event.preventDefault();

            const url = this.href;
            const spanCount = this.querySelector('span.js-likes');
            const icone = this.querySelector('i.fa-thumbs-up');


            axios.get(url).then(function(response){
                spanCount.textContent = response.data.likes;

                if(icone.classList.contains('fas')) {
                    icone.classList.replace('fas', 'far');
                } else {
                    icone.classList.replace('far', 'fas');
                }
            }).catch(function(error){
                if(error.response.status === 403){
                    window.alert("Vous ne pouvez pas liker sans être connecter !")
                } else {
                    window.alert("Une erreur s'est produite, merci de réeseyer plus tard !")
                }
            });
        }

        document.querySelectorAll('a.js-like-{{ad.slug}}').forEach(function(link){
            link.addEventListener('click', onClickBtnLike);
        })
    </script>

{% endblock %}